* { padding: 0; margin: 0; box-sizing: border-box; }

body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #419aff;
}
a:hover { color: #41ccff; }

header {
    text-align: center;
    background: #eee;
    padding: 50px 0 20px 0;
}
header p { margin: 12px; }

.content {
    margin: 30px auto 0 auto;
}

/* box style START */
#box {
    width: 450px;
    height: 450px;
    border: 10px dashed #ccc;
    position: relative;
    float: left;
}
#box.active {
    border-color: green;
}
#box section {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 30%;
    width: 80%;
    text-align: center;
}
#box .progress {
    margin-top: 20px;
}
#box .progress .backdrop {
    transition: width .5s;
}

.file-select {
    margin-top: 10px;
}

.cross {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 5px auto 0;
    border: 3px dotted #ccc;
    border-radius: 100%;
}
.cross:before, .cross:after {
    content: '';
    display: inline-block;
    position: absolute;
    border: 2px solid #ccc;
    width: 15px;
    top:50%;
    left:50%;
    margin-top: -1px;
    margin-left: -9px;
}
.cross:after {
    transform: rotate(90deg);
}
.cross:hover,.cross:hover:before, .cross:hover:after {
    border-color: green;
}
.cross:active, .cross:active:before, .cross:active:after {
    border-color: #00DE16;
}
/* box style END */

/* list group style START */
.list-group {
    padding-left: 0;
    float: left;
    width: 250px;
    
    list-style: none;
    margin-left: 50px;
}
.list-group.borderred {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.list-group .item {
    padding: 5px;
    border-top: 1px solid #eee;
}
.list-group .item:first-child {
    border-top: none;
}
.list-group .item .progress {
    margin-top: 5px;
}

.filename {
    display: block;
    margin-right: 80px;
    word-wrap: break-word;
}

.status {
    display: block;
    width: 80px;
    float: right;
    text-align: right;
    font-size: 0.8em;
}
.status.success {
    color: green;
}
.status.danger {
    color: red;
}
/* list group style END */


@media screen and (max-width: 768px) {
    #box { width: 350px; height: 350px; margin: 0 auto; float: none;}
    .list-group { width: 350px; margin: 20px auto 0; float: none; }
}
@media screen and (min-width: 768px) {
    .content { width: 750px; }
    .list-group { height: 450px; overflow: auto;}
}

.clearfix:after {
    display: table;
    content: '';
    clear: both;
}

.hide {
    display: none;
}
